include src/wmm2025/meson.build src/wmm2025/CMakeLists.txt src/wmm2025/setup.cmake src/wmm2025/test_input.asc src/wmm2025/WMM.COF
recursive-include src/wmm2025/src *.c
recursive-include src/wmm2025/src *.h
